*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --mainColor: #03005c;
    --secondaryColor: #35278a;
    --hoverColor: #5445ad;
}

.wrapper{
    height: 100%;
    width: 100%;
    max-width: 1400px;
}

/* Header */
header{
    height: 140px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

#topHeader{
    height: 45%;
    width: 100%;
    background-color: var(--mainColor);
    color: white;
    
    display: grid;
    place-items: center;
}

#topHeader .wrapper, #bottomHeader .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#topHeader a{
    color: white;
    text-decoration:none;
}

#topHeader .left{
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#topHeader .right{
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

#bottomHeader{
    height: 55%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.2);

    display: grid;
    place-items: center;
}

#bottomHeader .left{
    display: flex;
    align-items: center;
}

#bottomHeader .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

#bottomHeader a{
    color: black;
    text-decoration: none;
}

#logo{
    width: 180px;
}

#expertButton{
    height: 45px;
    width: 180px;
    background-color: var(--mainColor);
    border-radius: 8px;
    color: white !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: grid;
    place-items: center;
    position: relative; /* Necessary for the shadow effect */
    animation: explodeEffect 1.5s infinite;
}

#expertButton:hover{
    background-color: transparent;
    color: var(--mainColor) !important;
}

#expertButton:hover{
    color: black;
}

@keyframes explodeEffect {
    0% {
        box-shadow: 0 0 0px 0px var(--mainColor); /* skyblue color, no spread */
    }
    100% {
        box-shadow: 0 0 20px 10px var(--secondaryColor); /* explosion begins expanding */
    }
}

/* Main Content */
#mainContent{
    height: 750px;
    width: 100%;
    margin-top: 140px;
    background-image: url(./assets/mainContentBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: grid;
    place-items: center;
}

#mainContent .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mainContent .left{
    height: 85%;
    width: 50%;
    border-radius: 16px;
    opacity: 0.85;
    background-color: white;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#mainContent .left .top{
    height: 50%;
    width: 100%;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

#mainContent .left h1{
    color: var(--secondaryColor);
}

#mainContentForm{
    width: 100%;
    height: 35%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#mainContentForm label{
    font-size: 18px;
    font-weight: 500;
}

#mainContentForm input{
    height: 30px;
    width: 160px;
    border-color: var(--mainColor);
    padding-left: 5px;
    font-size: 17px;
}

#consultationButton {
    position: relative;
    height: 40px;
    background-color: var(--mainColor);
    color: white;
    border: none;
    border-radius: 8px;
    grid-column: span 2;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

#consultationButton:hover {
    background-color: #fff; /* Change background to white on hover */
    color: var(--mainColor); /* Invert text color */
    transform: scale(1.0); /* Slightly enlarge the button */
    box-shadow: 0 0 15px var(--mainColor); /* Glowing shadow on hover */
    font-size: 19px;
}

#consultationButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px solid var(--mainColor); /* Thin border */
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease; /* Smooth appearance of border */
    transform: scale(0.9); /* Start with a smaller border */
}

#consultationButton:hover::before {
    opacity: 1; /* Show the border on hover */
    transform: scale(1); /* Expand the border to full size */
}

#mainContent .right{
    height: 90%;
    width: 40%;
    font-size: 18px;
    color: var(--mainColor);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainContent .right h1{
    letter-spacing: 0.5px;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}

#mainContent .right img{
    height: 550px;
}

/* Website Metrics */
#websiteMetrics{
    height: 100px;
    background-color: var(--secondaryColor);

    display: grid;
    place-items: center;
}

#websiteMetrics .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#websiteMetrics .left, #websiteMetrics .middle, #websiteMetrics .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* About Us */
#aboutUs{
    padding-top: 150px;
    padding-bottom: 150px;

    display: grid;
    place-items: center;
}

#aboutUs .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#aboutUs .left{
    height: 100%;
    width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutUs .left h1{
    color: var(--mainColor);
    font-size: 50px;
}

#aboutUs .left p{
    letter-spacing: 0.5px;
    font-size: 17px;
}

#aboutUs .right{
    height: 100%;
    width: 50%;

    display: grid;
    place-items: center;
}

#aboutUs img{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}

/* Core Values */
#coreValues{
    height: 250px;
    background-color: var(--secondaryColor);

    display: grid;
    place-items: center;
}

#coreValues .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#coreValues .left, #coreValues .middle, #coreValues .right{
    height: 100%;
    width: 30%;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Client Testiominals */
#clientTestimonials{
    padding-top: 130px;
    padding-bottom: 130px;

    display: grid;
    place-items: center;
    gap: 50px;
}

#clientTestimonials .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#clientTestimonials h1{
    color: var(--mainColor);
    font-size: 50px;
}

#clientTestimonials .items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

#clientTestimonials .item{
    height: 550px;
    width: 25%;
    padding: 35px;
    border-radius: 8px;
    background-color: var(--secondaryColor);
    color: white;
    margin-top: 35px;
    transition-duration: 0.5s;
    letter-spacing: 0.5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

#clientTestimonials .item:hover{
    margin-top: 0px;
}

#clientTestimonials img{
    height: 200px;
    border-radius: 50%;
}

/* Why Choose Us */
#whyChooseUs{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--secondaryColor);
    color: white;

    display: grid;
    place-items: center;
}

#whyChooseUs .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

#whyChooseUs .top{    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#whyChooseUs .bottom{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 150px;
}

#whyChooseUs .item{
    width: 100%;
}

#whyChooseUs .item:nth-child(1){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto; 
    place-items: center;
    gap: 50px;
}

#whyChooseUs .item:nth-child(1) :nth-child(4){
    grid-column: 1 / -1;
    text-align: center;
}

#whyChooseUs .item:nth-child(2){
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

#whyChooseUs .item:nth-child(2) :nth-child(1){
    height: 200px;
    border-radius: 8px;
    background-color: goldenrod;
    padding: 20px;
}

#whyChooseUs .item:nth-child(2) h1{
    color: white;
}

#whyChooseUs .item:nth-child(3){
    height: auto;
}

#whyChooseUs .item:nth-child(3){
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 200px;
}

#whyChooseUs .item:nth-child(3){
    font-size: 50px;
}

#whyChooseUs .item:nth-child(4){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#whyChooseUs .item:nth-child(4) svg{
    background-color: white;
    box-shadow: 2px 5px 2px 1px gray;
}

#whyChooseUs h1{
    color: goldenrod;
    font-size: 40px;
}

/* Location */
#location{
    height: 500px;
    position: relative;

    display: grid;
    place-items: center;
}

#locationInfo{
    height: 400px;
    width: 420px;
    position: absolute;
    background-color: var(--secondaryColor);
    border-radius: 8px;
    left: 380px;
    opacity: 0.9;
    padding: 30px;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

#locationInfo ul{
    list-style-type: none;
}

#location li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Footer */
footer{
    background-color: var(--mainColor);
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;

    display: grid;
    place-items: center;
    gap: 40px;
}

footer .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .item{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

footer .item:nth-child(1){
    gap: 20px;
    width: 25%;
    font-size: 14px;
    letter-spacing: 0.5px;
}

#newsletter input{
    padding-left: 3px;
}

#newsletter button{
    width: 100px;
    color: white;
    background-color: var(--secondaryColor);
    cursor: pointer;
}

#contactUs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contactUs label{
    font-size: 18px;
}

#contactUs input{
    height: 40px;
    background-color: var(--secondaryColor);
    border:none;
    padding: 10px;
    font-size: 18px;
    color: white;
}

#contactUs input:hover, #contactUs textarea:hover{
    background-color: var(--hoverColor);
}

#contactUs textarea{
    background-color: var(--secondaryColor);
    height: 80px;
    padding: 10px;
    font-size: 18px;
    color: white;
}

#contactSubmit{
    height: 40px;
    width: 200px;
    font-size: 18px;
    border: none;
    background-color: var(--secondaryColor);
    cursor: pointer;
    color: white;
}

#contactSubmit:hover{
    border: 1px solid white;
    background-color: transparent;
}

footer ul{
    list-style-type: none;
}

footer li{
    margin-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    padding-left: 20px;
    transition: 1s;
}

footer img{
    width: 200px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }



